@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
body {
    text-decoration: none;
    background: url(https://www.wallpapertip.com/wmimgs/129-1291608_audi-cars-wallpapers-full-hd-full-hd-audi.jpg) no-repeat center/cover;
}

.container {
    border: none;
    width: 80%;
    height: 90vh;
    text-align: center;
}

.plates {
    border: 3px outset lightskyblue;
    outline: 0;
    height: 25px;
    width: 90%;
    background: lightgray;
    align-self: center;
}

h1 {
    color: white;
    padding: 2%;
    font-size: 34px;
    font-family: 'Architects Daughter', cursive;
}

h3 {
    display: inline;
    font-size: 25px;
    color: white;
    font-family: 'Architects Daughter', cursive;
}

ul {
    list-style-type: none;
}

li {
    border: solid;
    border-radius: 6px;
    width: 15%;
    margin: 2px;
    display: inline-block;
    padding: 5px;
    background: orange;
    text-align: center;
}

button {
    border-radius: 4px;
    background-color: grey;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.adjust {
    display: flex;
   justify-content: center;
}

.buttons {
    display: inline-flex;
    margin-top: 70px;
}

.title {
    font-size: 25px;
    color: white;
    font-family: 'Architects Daughter', cursive;
}

.add {
    background-color: white;
    border-radius: 50%;
    color: black;
    border: 5px solid orange;
    width: 15%;
    transition-duration: 0.4s;
    text-align: center;
    font-family: 'Merienda', cursive;
}

.add:hover {
    background-color: orange;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.add span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.add:hover span {
    padding-right: 20px;
}

.add:hover span:after {
    opacity: 1;
    right: 0;
}

#error {
    color: red;
    font-size: 35px;
}

select {
    padding: 10px;
    padding-right: 8px;
    background: lightsteelblue;
    font-size: 18px;
}

@media (max-width:600px) {
    h1 {
        font-size: 25px;
    }
    .add {
        background-color: white;
        border-radius: 50%;
        color: black;
        border: 5px solid orange;
        width: 20%;
        transition-duration: 0.4s;
        text-align: center;
        font-family: 'Merienda', cursive;
    }
}

@media (max-width:480px) {
    h1 {
        font-size: 22px;
    }
    h3 {
        font-size: 18px;
    }
    .add {
        background-color: white;
        border-radius: 50%;
        color: black;
        border: 5px solid orange;
        width: 25%;
        transition-duration: 0.4s;
        text-align: center;
        font-family: 'Merienda', cursive;
    }
    .buttons {
        display: block;
        margin-top: 0;
    }
    button {
        width: 30%;
        font-size: 15px;
    }
    .show {
        margin-top: 90px;
    }
    .slct1 {
        font-size: 15px;
    }
    body {
        height: 120vh;
    }
    .plates {
        width: 50%;
    }
    .title {
        font-size: 20px;
    }
}